# https://dart.dev/tools/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/tools/pub/private-files#pubspec-lock.
pubspec.lock
.claude/
api-docs/
api/
coverage/
site/
tool/data
*.log
build/
coverage_run/lcov.info
coverage_run/test/custom_registry_test.dart.vm.json
coverage_run/test/detect_test.dart.vm.json
coverage_run/test/freedesktop_test.dart.vm.json
coverage_run/test/merge_dedup_test.dart.vm.json
coverage_run/test/spot_test.dart.vm.json
coverage_run/test/tika_test.dart.vm.json
